
/*--- BARRA DE RELLENO SUPERIOR ---*/
#top_bar {
    background-color: #8FC74A;
    height: 38.4px;
}

#btn_logout {
    color: white;
    height: 35px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-transform: none;
}

/*--- BARRA DE NAVEGACION PRINCIPAL ---*/
#nav_principal {
    background-color: #7B7B7B !important;
    border: 1px solid white;
    padding: 0px 50px 0px 40px;
}
#nav_logo {
    padding: 10px;   
}
.nav-prin {
    color:white !important;
}
.nav-prin.active {
    color: #8FC74A !important;
    font-weight: bold;
}
.nav-prin.active::after {
    width: 100%;
}

@media (min-width: 992px){

    .nav-prin {
        position: relative;
        color: #000; 
        transition: color 0.3s ease;
    }
    .nav-prin:hover {
        color: #8FC74A; 
    }
    .nav-prin::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #8FC74A; 
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    .nav-prin:hover::after {
        width: 100%; 
    }
}

/*--- FOOTER ---*/
#site_footer {
    background-color: #222222;
    color: white;
    padding: 15px;
    text-align: center;
}

#texto_footer {
    font-size: 0.9rem;
}