
/* Fondo general */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

/* Estructura */
main {
    flex: 1;
    padding: 20px 0;
}

/*--- CONTENIDO PRINCIPAL ---*/
h1 {
    font-weight: bold;
    color: #7B7B7B;
}

/* bot贸n del acorde贸n */
.accordion-button {
    border-radius: 10px;
}
/* Recuadro del acorde贸n */
.accordion-body {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.6s ease-out;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Inputs y Select */
.form-control, .form-select {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 12px 15px;
    transition: all 0.3s ease;
}

.form-control:focus, .form-select:focus {
    border-color: #8FC74A;
    box-shadow: 0 0 5px rgba(143, 199, 74, 0.5);
}

/* Bot贸n formulario */
.btn {
    border: 2px solid #8FC74A;
    color: #8FC74A;
    background-color: transparent;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.producto-btn {
    padding: 4px 8px !important;
    font-size: 12px !important;
    border-radius: 10px;
    background-color: transparent;
    color: black;
}

.btn:hover {
    background-color: #6c9639;
    border-color: #6c9639;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(143, 199, 74, 0.5);
}

.modal-content {
    padding-left: 50px;
    padding-right: 50px;
}

#btn_del {
    border: 2px solid #D9534F;
    color: #D9534F;
}

#btn_del:hover {
    background-color: #C9302C;
    border-color: #C9302C;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.conf-btn {
    width: 85px;
}

/* Tablas */
.table {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.table th {
    background-color: #f1f1f1;
    text-align: center;
    font-weight: bold;
}

.table td {
    text-align: center;
}

.filtro {
    font-weight: bold;
}

/* Media queries */
@media (max-width: 1024px) {
    .form-label {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
    }

    .modal-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 430px) {
    .info {
        font-size: small;
    }

    .form-control, .form-select {
        font-size: 0.9rem;
    }

    .modal-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}