/* Ocultar avbar */
.logout, #nav-logo, .navbar-nav, .navbar-toggler, #site-footer {
    display: none !important;
}

/* Recuadro del formulario */
.card {
    min-height: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 1rem;
    animation: fadeInUp 0.8s ease;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0; /* empieza invisible */
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
  #btn_login {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

/* Estilos para formularios */
.form-control {
    height: 45px;
    background-repeat: no-repeat;
    background-position: calc(0% + 12px) center !important;
    background-size: 19px 19px;
    padding-left: 42px;
}

#email-login {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-person' viewBox='0 0 16 16'><path d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z'/></svg>");
}

#password-login {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-lock' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3'/></svg>");
}

#btn-login {
    width: 360px;
}

@media (max-width: 430px) {
    #btn-login {
        width: 260px;
    }
}